{
	"semi": false,
	"singleQuote": true,
	"printWidth": 100,
	"tabWidth": 2,
	"useTabs": true,
	"trailingComma": "all",
	"plugins": ["@trivago/prettier-plugin-sort-imports"],
	"importOrder": [
		"^fs$",
		"^path$",
		"<THIRD_PARTY_MODULES>",
		"^react$",
		"^@/hooks/(.*)$",
		"^@/components/(.*)$",
		"^[./]",
		".*\\.module\\.(css|scss|sass)$",
		".*\\.(css|scss|sass)$",
		"^@/types/(.*)$"
	],
	"importOrderSeparation": true,
	"importOrderSortSpecifiers": true
}
