# URL Strapi API (укажи свой адрес Strapi)
SERVER_URL=https://shining-love-c0c53e911a.strapiapp.com

WEBHOOK_TOKEN=
STRAPI_API_TOKEN

# Настройки ЮKassa
YOOKASSA_SHOP_ID=1055086
YOOKASSA_SECRET_KEY=test
YOOKASSA_REDIRECT_URL=http://localhost:3000/profile
YOOKASSA_NOTIFICATION_URL=http://localhost:3000/api/yookassa/webhook
