.weights {
	display: flex;
	align-items: center;
	flex-flow: row nowrap;

	overflow: hidden;
	// padding: 15px 45px;
	border-radius: 50px;

	margin-bottom: 10px;

	&__btn {
		padding: 15px 45px;
		text-wrap: nowrap;
		
		cursor: pointer;
		transition: all 0.2s ease;
	
		&:hover {
			background: var(--btn-hover-color);
			color: var(--secondary-font-color);
		}
	
		&.active {
			background: var(--btn-color);
			color: var(--secondary-font-color);
		}
	}
}
