// @import "base/mixins";
// @import "base/variables";
// @import "base/typography";
// @import "base/base";

// @import "components/header";
// @import "components/footer";

@use "sass:math";

@import "base/mixins";

// @import "./libs/bootstrap/bootstrap-functions.scss";

// Подключение шрифтов ===========================================================================================================================================================================================================================================================================
//&display=swap - добавить при подключении через плагин

// Подключить если есть локальные файлы шрифтов
// @import "fonts/fonts";

// Подключение иконочных шрифтов ==============================================================================================================================================================================================================================================================================
// Подключить если есть файл иконочного шрифта
// @import "fonts/icons";

// Шрифт по умолчанию ==============================================================================================================================================================================================================================================================================
$fontFamily: var(--ff);
$fontSize: rem(16); // где 16x(px) - размер шрифта по умолчанию из макета

// НАСТРОЙКИ ===============================================================================================================================================================================================================================================================================================
// Минимальная ширина страницы
$minWidth: 320;
// Ширина полотна (макета)
$maxWidth: 1920;
// Ширина ограничивающего контейнера (0 = нет ограничения)
$maxWidthContainer: 1320;
$containerPadding: 30;

// Ширина срабатывания первого брейкпоинта
$containerWidth: $maxWidthContainer + $containerPadding;

// Брейк-поинты
$pc: em($containerWidth); // ПК, ноутбуки, некоторые планшеты в горизонтальном положении
$tablet: em(991); // Планшеты, некоторые телефоны в горизонтальном положении
$mobile: em(767); // Телефоны L
$mobileSmall: em(479); // Телефоны S

// Тип адаптива:
// 1 = отзывчивость (у контейнера нет брейкпоинтов),
// 2 = по брейк-поинтам (контейнер меняет свою ширину по брейк-поинтам)
$responsiveType: 1;

// / Ограничивающий контейнер ======================================================================================================================================================================================================================

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/
@if ($responsiveType==1) {

	// Отзывчивая
	[class*="__container"] {
		@if ($maxWidthContainer>0) {
			max-width: rem($maxWidthContainer);
			box-sizing: content-box;
			margin: 0 auto;
		}

		@if ($containerPadding>0) {
			padding: 0 rem(math.div($containerPadding, 2));
		}
	}
}

@else {
	// По брейк-поинтам
}

// Обнуление и общие параметры ============================================================================================================================================================================================== =============================================================================================== ===============================================================================================
@import "base/null";

// подключение файла с переменными ============================================================================================================================================================================================== =============================================================================================== ===========================================================================================
@import "roots.scss";
// * {
// 	outline: 4px solid purple !important;
// }

html {
	// @extend %smoothscroll;
	// scroll-behavior: smooth;
	// -webkit-overflow-scrolling: touch;
}

body {
	min-height: 100vh;

	// Скролл заблокирован
	&.lock {
		overflow: hidden;
		touch-action: none;
		// VAR(--scrol-width)
		padding-right: 8px;
	}

	// Сайт загружен
	.loaded & {}
}

// Оболочка ============================================================================================================================================================================================================================================================================================================================================================================================================================================
.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;

	// Прижимаем footer
	>main {
		flex: 1 1 auto;

		.page__breadcrumbs+section {
			padding-top: 0px !important;
		}


		// Если первый дочерний блок внутри main НЕ hero, то
		>*:first-child:not(.hero) {
			// padding-top: calc(var(--main-section-paddings) * 2.9);
			margin-top: calc(var(--main-section-paddings) * 2.9);
		}
	}

	// Фикс для слайдеров
	>* {
		min-width: 0;
	}
}

.fancybox__container {
	max-width: 100%;
}

[data-fancybox] {
	cursor: zoom-in;
}


// Подключение базовых стилей, шаблонов (заготовок) и вспомогательных  классов
@import "base/typography";
@import "base/base";

// Lyaout
@import "components/_layout/_header";
// @import "components/_footer";

// Ui
@import "components/ui/_button";
@import "components/ui/_pagination";
@import "components/ui/_search";
@import "components/ui/_product-card.scss";
@import "components/ui/_tabs.scss";
@import "components/ui/_weight-selector.scss";

// Blocks
@import "components/blocks/_hero";
@import "components/blocks/_heading";
@import "components/blocks/_paragraph";
@import "components/blocks/_paragraph-with-image";
@import "components/blocks/_image-block.scss";
@import "components/blocks/_contacts.scss";

// integrated
@import "components/integrated/products.scss";

// forms
@import "components/forms/forms.scss";
@import "components/forms/auth-forms.scss";
@import "components/forms/contact-form.scss";

// pages
@import "pages/products-page.scss";
@import "pages/product-page.scss";
@import "pages/cart.scss";
@import "pages/auth.scss";