@use '@/sass/roots/roots.variables' as *;
// @use '@/sass/roots/roots.tokens' as *;

@use '@/sass/base/mixins' as *;
@use '@/sass/base/placeholders' as *;

.pagination {
	display: flex;
	align-items: center;
	gap: 8px;

	&__btn {
		border-radius: 14px;
		background-color: var(--btn-color);
		cursor: pointer;
		padding: 11px 20px 10px 18px;
		position: relative;
		transition: background 0.3s;

		// .pagination__btn--mirror
		&--mirror {
			@extend %mirror;
		}

		&:disabled {
			opacity: 0.5;
			cursor: not-allowed;
		}

		&:hover:not(:disabled) {
			background-color: var(--btn-hover-color);
		}
	}

	&__icon {}

	&__pages {
		display: flex;
		gap: rem(15);
	}

	&__page {
		font-size: rem(23);
		cursor: pointer;
		transition: color 0.3s;

		&.active {
			color: var(--main-font-color);
			font-weight: var(--bold);
		}

		&:hover:not(.active) {
			color: var(--hover-font-color);
		}
	}
}