@use '@/sass/roots/roots.variables' as *;
// @use '@/sass/roots/roots.tokens' as *;

@use '@/sass/base/mixins' as *;

.tabs {
	// .tabs__btn
	&__btn {
		font-size: rem(18);
		border-radius: 15px;
		padding: 14px 25px;
		transition: all 0.3s ease;

		@media (any-hover: hover) {
			// Отключаем hover для активной кнопки
			&:not(&--active):hover {
				background: var(--btn-secondary-color);
				color: var(--secondary-font-color);
			}
		}

		// .tabs__btn--active
		&--active {
			background: var(--btn-color);
			color: var(--secondary-font-color);
		}
	}
}
